#==== Vonage API ====

#-- From dashboard.nexmo.com --
API_KEY=xxxx
API_SECRET=xxxxxx

#-- Application ID (from dashboard.nexmo.com) --
APP_ID=xxxxx

#-- A Vonage API number linked to the application above (from dashboard.nexmo.com) --
#-- Must be in E.164 format without leading '+' sign --
SERVICE_PHONE_NUMBER=1xxxxxxxxxx

#-- API base URL --
# API_BASE_URL=https://api-ap.vonage.com
# API_BASE_URL=https://api-eu.vonage.com
API_BASE_URL=https://api-us.vonage.com

#==== Middleware/Connector server ====

# Mandatory setting
# Connector server host name (no prefix such as "https://" or "wss://", and no trailing slash "/")
PROCESSOR_SERVER=xxxxx.ngrok.io

#==== Other parameters ====

#-- For tests - A number to be called ("the called party") --
#-- Must be in E.164 format without leading '+' sign --
TEST_CALLEE_NUMBER=12995550101

#-- Record PSTN call audio --
RECORD_ALL_CALLS=false




